.backgroundImage {
	width: 280%;
}

@media only screen and (max-width: 767px) {
	.backgroundImage {
		width: 280%;
	}
}

@media only screen and (min-width: 768px) {
	.backgroundImage {
		width: 100%;
	}
}