.searchBar {
  height: 128px;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.searchBarTextInput {
  box-sizing: border-box;
  height: 40px;
  width: 235px;
  background-color: rgba(255,255,255,0.54);
  border: 4px solid #46B6EE;
  color: #FF5985;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  padding-left: 10px;
  text-transform: uppercase;
  letter-spacing: 0.5;
}

.searchBarTextInput:hover,
.searchBarTextInput::after {
  border: 4px solid #4668EE;
}

/* .searchBarSubmitButton {
  color: #610F7F;
  height: 64px;
  width: 64px;
  font-size: 34px;
  margin: 1px 0 0 152px;
  display: inline-block;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  transition: all 0.4s ease;
  text-decoration: none;
  background: none;
  border: none;
  padding-left: 10px;
} */

::placeholder { 
  color: #626262;
  opacity: 1; 
  font-weight: 200;
  text-transform: none;
}

@media only screen and (max-width: 1500px) {
}
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 991px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 575px) {
  .searchBarTextInput {
    width: 192px;
  }

  .searchBarSubmitButton {
    margin: 1px 0 0 76px;
  }
}