.searchBar {
  /* height: 128px;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBarTextInput {
  box-sizing: border-box;
  height: 40px;
  width: 235px;
  background-color: rgba(255,255,255,0.54);
  border: 4px solid #46B6EE;
  color: #FF5985;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  padding-left: 10px;
  text-transform: uppercase;
  letter-spacing: 0.5;
}

.searchBarTextInput:hover,
.searchBarTextInput::after {
  border: 4px solid #4668EE;
}

.searchBarSubmit {
  border: none;
  background: none;
}

.searchBarSubmitButton {
  width: 20px;
  height: 36px;
  padding: 20px;
  cursor: pointer;
}

.searchBarSubmitButton:hover {
  opacity: 0.7;
}

::placeholder { 
  color: #626262;
  opacity: 1; 
  font-weight: 200;
  text-transform: none;
}

@media only screen and (max-width: 1500px) {
}
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 991px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 575px) {
  .searchBarTextInput {
    width: 192px;
  }
}